In [14]:
import pandas as pd
import pandas_gbq

In [15]:

# Set your default project here
pandas_gbq.context.project = 'tnc-data-v1'
pandas_gbq.context.dialect = 'standard'

## Query Parameters

How to find the grid id for a lat, lon point

In [16]:
#example sql statment
sql = """select id  
from 
geometry.cigGeo
where 
ST_DWithin(
  st_geogpoint(-122.4443, 47.2529)
  , polygon, 0) 
  """

In [19]:
#--not run

#send statement 
# pandas_gbq.read_gbq(sql,project_id='tnc-data-v1')
# returns: 
# > 15_V5

In [20]:
table = "`tnc-data-v1.hydrology.gfdl`"
hru = "hru000"
year_0 = 1970 
year_n = 1999
comps = "('suro', 'ifwo')" 
grid = "ID15_V5"

## Query Statement

In [22]:
sql = """
SELECT
  Datetime,
  SUM({}) AS mm_per_hour
FROM
  {}
WHERE
  year BETWEEN {}
  AND {}
  AND comp in {}
  AND grid = {}
GROUP BY
  Datetime
ORDER BY
  Datetime
""".format(hru,table,year_0,year_n,comps,grid)

"\nSELECT\n  Datetime,\n  SUM(hru000) AS mm_per_hour\nFROM\n  `tnc-data-v1.hydrology.gfdl`\nWHERE\n  year BETWEEN 1970\n  AND 1999\n  AND comp in 'suro', 'ifwo'\n  AND grid = 15_V5\nGROUP BY\n  Datetime\nORDER BY\n  Datetime\n"